.input {
	display: flex;
	flex-direction: column;
	gap: 2px;

  .main-control:has(.main-control__input:focus-visible) {
    border-color: var(--neutral-900);
  }

	&__label {
		font: var(--font-body-sm);

		.input__required-star {
			color: red;
			display: inline;
		}
	}

	.main-control {
		height: 44px;
		border: 2px solid var(--border);
    border-radius: 8px;
		outline: none;
		display: flex;
		align-items: center;

		&:has(.main-control__input:disabled) {
			background-color: var(--neutral-200);
			color: var(--neutral-500);
			border-color: var(--neutral-200);

			.main-control__units {
				color: var(--neutral-500);
			}
		}

    &__icon {
      padding-left: 12px;
      display: grid;
      place-items: center;
    }

		&__input {
			border: none;
			outline: none;
			padding-left: 12px;
			// Less padding on the right so number change UI fits better
			padding-right: 4px;
			height: 100%;
			flex: 1;
			min-width: 0;

			&::placeholder {
				color: var(--placeholder);
			}
		}

    &:has(.main-control__icon) .main-control__input {
      padding-left: 8px;
    }

		&__units {
			padding-inline: 12px;
			border-left: 2px solid var(--border);
			height: 24px;
			color: var(--placeholder);
		}
	}
}
