@use '@/scss/breakpoints' as *;

.filters {
  position: sticky;
  top: var(--header-size);
  height: calc(100vh - var(--header-size));
  max-height: calc(-webkit-fill-available - var(--header-size));
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (width > $screen-sm) {
    grid-column: 1 / 2;
  }
}

.mobile-filters {
  position: relative;

  @media screen and (width > $screen-sm) {
    display: none;
  }
}

.desktop-filters {
  display: none;

  @media screen and (width > $screen-sm) {
    display: block;
  }
}

.filters-toggle {
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--heading);
  border: 2px solid var(--border);
  border-radius: 8px;
  padding-inline: 12px;
  width: 100%;

  &__main {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &[aria-expanded="true"] .caret {
    rotate: 180deg;
  }
}

.filters-dropdown {
  border-radius: 8px;
  width: 100%;
  max-height: 400px;
  overflow: auto;
}