:root {
  // Base colors
  --white: #FFFFFF;
  --black: #000000;
  --orange-50: #FFF7ED;
  --orange-100: #FFEDD5;
  --orange-200: #FED7AA;
  --orange-300: #FDBA74;
  --orange-400: #FB923C;
  --orange-500: #F97316;
  --orange-600: #EA580C;
  --orange-700: #C2410C;
  --orange-800: #9A3412;
  --orange-900: #7C2D12;
  --orange-950: #431407;
  --green-50: #F0FDF4;
  --green-100: #DCFCE7;
  --green-200: #BBF7D0;
  --green-300: #86EFAC;
  --green-400: #4ADE80;
  --green-500: #22C55E;
  --green-600: #16A34A;
  --green-700: #15803D;
  --green-800: #166534;
  --green-900: #14532D;
  --green-950: #052E16;
  --neutral-50: #F9F8F6;
  --neutral-100: #EAE8E1;
  --neutral-200: #D4CFC2;
  --neutral-500: #807B71;
  --neutral-600: #59554D;
  --neutral-700: #312E28;
  --neutral-900: #050504;
  --red-50: #FEF2F2;
  --red-100: #FEE2E2;
  --red-200: #FECACA;
  --red-300: #FCA5A5;
  --red-400: #F87171;
  --red-500: #EF4444;
  --red-600: #DC2626;
  --red-700: #B91C1C;
  --red-800: #991B1B;
  --red-900: #7F1D1D;
  --red-950: #450A0A;
  --rose-50: #FFF1F2;
  --rose-100: #FFE4E6;
  --rose-200: #FECDD3;
  --rose-300: #FDA4AF;
  --rose-400: #FB7185;
  --rose-500: #F43F5E;
  --rose-600: #E11D48;
  --rose-700: #BE123C;
  --rose-800: #9F1239;
  --rose-900: #881337;
  --rose-950: #4C0519;
  --sky-50: #F0F9FF;
  --sky-100: #E0F2FE;
  --sky-200: #BAE6FD;
  --sky-300: #7DD3FC;
  --sky-400: #38BDF8;
  --sky-500: #0EA5E9;
  --sky-600: #0284C7;
  --sky-700: #0369A1;
  --sky-800: #075985;
  --sky-900: #0C4A6E;
  --sky-950: #082F49;
  --violet-50: #F5F3FF;
  --violet-100: #EDE9FE;
  --violet-200: #DDD6FE;
  --violet-300: #C4B5FD;
  --violet-400: #A78BFA;
  --violet-500: #8B5CF6;
  --violet-600: #7C3AED;
  --violet-700: #6D28D9;
  --violet-800: #5B21B6;
  --violet-900: #4C1D95;
  --violet-950: #2E1065;

  // Alias colors
  --animal-black: var(--neutral-900);
  --animal-blue: var(--sky-600);
  --animal-brown: var(--orange-900);
  --animal-gray: var(--neutral-600);
  --animal-green: var(--green-600);
  --animal-orange: var(--orange-600);
  --animal-purple: var(--violet-600);
  --animal-red: var(--red-600);
  --animal-white: var(--neutral-50);
  --background: var(--neutral-50);
  --border: var(--neutral-200);
  --heading: var(--neutral-900);
  --placeholder: var(--neutral-500);
  --primary-base: var(--rose-600);
  --primary-dark: var(--rose-950);
  --primary-light: var(--rose-200);
  --surface: var(--neutral-100);
  --text: var(--neutral-700);
}